body {
    height: 100vh;
    width: 100vw;
    background-image: url(images/Background_Image_Grey.png);
    background-attachment: fixed;
    overflow-x: hidden;
}


/*CSS for Profile Bar*/

#profile-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 30vh;
    min-height: 75vh;
    height: auto;
    background-image: url("/images/folded_light.jpg");
    color: #311C2E;
    border: 8px solid #c5d5cb;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
}

#FvA {
    display: block;
    width: 90%;
    border: 5px solid #9fa8a3;
    margin: 0 auto;
}

#name {
    width: 48%;
    margin-left: 5%;
}

#profile-bar p {
    margin-left: 5%;
    margin-right: 2%;
    font-family: monospace;
}


/*END Profile Bar*/


/*CSS for the Navigation Bar*/

#navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    width: 60vw;
    height: 7vh;
    background-color: #9fa8a3;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

#navbar li {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5vmin;
    font-weight: 800;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    background-color: #c5d5cb;
    color: #9fa8a3;
    border-radius: 5px;
}


/*END NAVBAR*/

#notsidebar {
    /*Prevent merging with sidebar*/
    width: 69vw;
    height: auto;
    margin-top: -7px;
}

#background {
    display: block;
    width: inherit;
    margin: 0 auto;
}

#background img {
    display: block;
    position: relative;
    width: 85%;
    height: auto;
    margin: 0 auto;
    top: 80px;
    border: 8px solid #c5d5cb;
}

#background span {
    position: relative;
    display: block;
    width: 85%;
    bottom: 15vh;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    background-color: rgba(0, 0, 0, 0.38);
}
