#gohome{
    position: fixed;
    left: 0;
    top: 0;
    width: 5%;
    opacity: .7;
}

body{ /*Move away from home button*/
    position: relative;
    top: 50px;
}

.button {
    display: inline-block;
    font-family: 'Cedarville Cursive', cursive;
    background-color: #D56298;
    text-decoration: none;
    color:black;
    border: solid #05D4F0 3px;
    text-align:center;
    font-size: 16px;
    padding; 0px;
    border-radius: 12px;
    padding-left: 6px;
    padding-right: 6px;
}

.button:hover {
    display: inline-block;
    background-color: #05D4F0;
    border: solid #D56298 3px;
}

.button:active{
    background-color: #05D4F0;
    text-decoration: none;
    border: solid #D56298 3px;
    font-size: 24px;
    border-radius: 12px;
}

.button-sm{
    font-size: 9px;
}

.button-sm:active{
    font-size: 12px;
}

.button-lg {
    font-size: 22px;
}

.button-lg:active{
    font-size: 30px;
}