/*Options to keep form to a single screen*/
html, body{
    width: 99%;
    height: 97%;
    background-image: url("images/gradient.png");
    background-size: cover; 
}

/*Links for Homepage and Form Home page*/
#gohome{
    width: 6%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
}

#goform{
    width: 6%;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.7;

}
/*END Links*/

h1 {
    position:relative;
    color: #710155;
    max-width: 60%;
    width:auto;
    max-height: 50%;
    height: auto;
    text-align: center;
    font-family: fantasy;
}

form{
    position: relative;
    color: white;
    max-width: 60%;
    width:auto;
    max-height: 50%;
    height:auto;
    line-height: 2em;
    top: 12%;
    left: 12%;
    font-family: "Helvetica", sans-serif;
}

/*White Ranger image*/
#desktop{
    float: right;
    max-height: 96%;
    height: auto;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/*Used in Media Queries*/
#icon{
    display: none;
}

/*Labels*/
#green{
    color: green;
}

#red {
    color: red;
}

#pink{
    color: pink;
}

#yellow{
    color: yellow;
    text-align: center;
    display: inline-block;
    width: 260px;
    border: solid blue 4px;
    border-radius: 11px;
}

#dateselect{
    width: 260px;
    text-align: center;
}

/*Keep input boxes - width*/
label {
    width: 90px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

input, label {
    float:left;
}

#submit {
    position: relative;
    width: 200px;
    left: 40px;
    color: white;
    background-color: blue;
}

#submit:hover {
    background-color: black;
}

/*Small Screen Devices in Landscape (ex: Blackberry)*/
@media all and (orientation: landscape) and (max-height: 379px){
    h1{
        font-size: 80%;
    }
    
    form{
        line-height: 1em;
        left: 0;
        top: 2%;
        font-size: 80%;       
    }
    
    #desktop{
        max-height: 50%;
    }
    
    #dateselect{
        width:20%;
    }
}

/*Portrait Devices, such as the iPhone*/
@media all and (orientation: portrait){
    #desktop{
        display: none;
    }
    body{
        background-image: url(images/whitemobile.jpg);
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    h1{
        display: block;
        position: relative;
        max-width: 98%;
        top: 40%;
        font-size: 20px;
        text-align: center;
        background-color: #080808;
    }
    
    form {
        line-height: 1em;
        left: 0;
        top: 45%;
        font-size: 90%;
    }
    
    #other{
        width: 55%;
    }
    
    #dateselect{
        width: 20%;
    }
}

/*Small portrait devices (Feature Phones, Motorola RazR)*/
@media all and (orientation: portrait) and (max-width: 240px){
    body{
        background-image: none;
    }
    
    #icon {
        display: block;
        float: left;
    }
    
    h1{
        display: inline;
    }
    
    form{
        position: relative;
        top: 3%;
        max-width: 95%;
        font-size: 10px;
    }
    
    #yellow{
        width: 50%;
    }
    
    #submit {
        left: 5px;
    }
}