/*Import fonts*/

@import url('https://fonts.googleapis.com/css?family=News+Cycle');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

/*Background image gives newspaper like texture*/

* {
    background-image: url(./img/newspaper-texture.jpg);
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: 'News Cycle', sans-serif;
}

body p {
    line-height: 120%;
}

img {
    max-width: 100%;
}


/*Makes text more legible at start of article paragraph*/

#article1 p,
#article2 p,
#article3 p {
    margin-left: 2%;
}


/*Logo Text and Image CSS*/

#logo {
    width: auto;
    width: 100%;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}

#logo h1 {
    font-size: 2.5rem;
    line-height: 150%;
}

#logo img {
    max-width: 100%;
    width: auto;
    max-height: 300px;
    height: auto;
    box-shadow: 2px 2px 2px 2px dimgray;
}

.topArticles {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
}

#article1 {
    flex-basis: 60%;
    margin-right 2%;
    margin-left: 1%;
    height: inherit;
}

#ReRangers {
    max-width: 40%;
    float: left;
    margin: 1%;
}

#Rita {
    max-width: 30%;
    float: right;
    margin: 1%;
}

#article2 {
    margin-left: 2%;
    margin-right: 1%;
    flex-basis: 40%;
    height: auto;
}

.Dawson {
    display: block;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.art3plusAd {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
}

#article3 {
    max-width: 65%;
    margin-left: 2%;
    margin-right: 2%;
    flex-basis: 75%;
}

#article3 img {
    width: 200px;
    max-width: 95%;
    width: auto;
    width: auto;
    float: left;
    clear: left;
}

#continued {
    font-size: 0.75rem;
    font-weight: 600;
}

.Advert {
    flex-basis: 35%;
    text-align: center;
    font-size: 0.75rem;
    font-family: monospace;
    font-weight: 600;
    border: 1px dashed dimgray;
    padding: 0.2rem;
    opacity: 0.95;
    align-self: baseline;
}


/*MEDIA QUERIES*/


/*Portrait Devices*/

@media all and (orientation: portrait) {
    .art3plusAd,
    .art3dplusAd * {
        display: block;
        flex: none;
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #article3 {
        max-width: inherit;
    }
    #article3 p {
        width: 100%;
        padding-right: 2%;
    }
    img {
        display: block !important;
        float: none !important;
        max-width: 100% !important;
        width: auto;
    }
    #logo img {
        margin-left: auto;
        margin-right: auto;
    }
}


/*Devices below 720p*/

@media all and (max-width: 719px) {
    .art3plusAd,
    .art3dplusAd * {
        display: block;
        flex: none;
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #article3 {
        max-width: inherit;
    }
    #article3 p {
        width: 100%;
        padding-right: 2%;
    }
    img {
        display: block !important;
        float: none !important;
        max-width: 100% !important;
        width: auto;
    }
    #logo img {
        margin-left: auto;
        margin-right: auto;
    }
}
