.c-thumbnails-row--desc {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.c-thumbnail {
    border: 0.5em solid #f3f3f3;
    border-radius: 1em;
    box-shadow: inset 0px 1px 0px 7px #a6a6a6;
    margin: 1em .5em;
    padding: 1em
}

.c-thumbnail__desc {
    display: table
}

.c-thumbnail__p {
    display: table-caption;
    caption-side: bottom
}

.eureka-c-dotValidator-container {
    background-color: #adb4bd;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: 60px;
    max-width: 100%;
    position: relative;
    width: 220px;
}

.eureka-c-dotValidator-label {
    color: #8f8ba3;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 12px;
    padding: 10px;
    position: absolute;
}

.eureka-c-dotValidator-input {
    background-color: #fff;
    border: none;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    padding: 32px 10px 10px 10px;
    width: 100%;
}

.eureka-c-dotValidator-input:focus {
    border: 2px solid #EE98B4;
    -webkit-transition: .8s ease-in;
    transition: .8s ease-in;
    outline: none;
}

.eureka-c-validation-dot {
    background-color: #F2617A;
    border-radius: 20px;
    height: 6px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 6px;
}

.eureka-c-dotValidator-container-age {
    font-size: 16px;
    width: 80px;
}

.eureka-c-dotValidator-age-inactive {
    background-color: #a3aeba;
    opacity: 0.48;
    border-bottom: 2px solid #212121;
}