.content-div-graphics {
    display: flex;
    position: absolute;
    left: 23%;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 70%;
    width: 70%;
    margin-left: 1.5625%;
    border: .211rem ridge #bbb7d6;
    padding: 1.5625%;
    align-items: center;
    opacity: 0;
}


.c-thumbnail {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 30%;
    justify-content: center;
    max-width: 30%;
    height: 95%;
    border-color: rgba(143, 139, 163, 0.26);
    background-color: rgba(251, 238, 244, 0.25);
}

.c-thumbnail label {
    text-align: center;
    color: rgba(178, 63, 105, 0.85);
    font-family: 'Roboto','Montserrat', sans-serif;
    font-size: 3vh;
}

.c-thumbnail__img {
    max-height: 80%;
    max-width: 100%;
    width: auto;
    height: auto;
    border: 4px ridge rgba(238, 152, 180, 0.46);
}

.c-thumbnail__img:hover {
    transform: scale(1.7,1.7);
    transition: .3s transform;
}
