/*Media Queries for Mobile Mode (Portrait)*/

@media all and (orientation: portrait) and (max-height: 960px) {
    /*Graphics Pane*/
    .c-thumbnail-spiderlee {
        display: none;
    }
    
    /*Projects*/
    
    /*dotValidator*/
    .dotValidator-veryBigOnly {
        display: none;
    }
    
    .eureka-c-dotValidator-container {
        font-size: 2vh;
    }
}