@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    
}

#calculator {
    display: flex;
    flex-flow: row wrap;
    width: 418px;
    height: 657px;
    max-width: 100%;
    /*Change to 100% if not single page element*/
    max-height: 100vh;
    background-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 1%;
}

.lines {
    display: flex;
    width: 100%;
    height: calc(100% /6);
}

.lines button {
    flex: 0 1 25%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    border-color: transparent;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

button.h-line {
    background-color: rgba(87, 84, 103, 0.69);
    border: 1px solid black;
}

#output {
    background-color: rgba(119, 136, 153, 0.32);
    height: 40px;
    max-height: 80%;
    align-self: center;
    flex-grow: 1;
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    padding: 2%;
    border: none;
}

button:active {
    box-shadow: 0 3px 0 #F782B9;
    width: 90%;
    height: 90%;
}

#clear {
    background-color: #883553;
}

#clear:active {
    box-shadow: 0 3px 0 #F782B9;
    height: 100%;
    width: 100%;
}

#line2 button:hover {
    background-color: rgba(69, 194, 213, 0.5);
}

#line3 button:hover {
    background-color: rgba(249, 120, 125, 0.5);
}

#line4 button:hover {
    background-color: rgba(247, 130, 185, 0.5);
}

#line5 button:hover {
    background-color: rgba(42, 217, 125, 0.5);
}

#delete:hover {
    background-color: #883553;
}

#delete:active {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: 2px inset rgba(235, 103, 151, 0.65);
}