body {
    display: flex;
    background: #ffffff;
    color: #000000;
    max-width: 50%;
    float: left;
    clear: both;
    justify-content: center;
}


.spcenter {
    margin-left: 1.85vw;
}

pre,
p {
    font: 12px/14px Courier, "Courier New", monospace !important;
}

pre {
    text-align: left !important;
    letter-spacing: 0 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.footer {
    margin: 15px;
}

.sc,
.ab {
    font-weight: bold !important;
}

aside {
    position: fixed;
    top: 25vh;
    border: 2px solid blue;
    padding: 1%;
}

