body{
    background-image: url(images/Modern_Gradient.png);
    background-attachment: fixed;
    background-repeat: repeat-y;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/*Imge Link to Homepage*/
#gohome{
    position: fixed;
    width: 6%;
    top: 0;
    left: 0;
    opacity: .5;
}
/*END Image Home Link*/

/*Options for the background image/LOGO*/
#background{
    background-image: url(images/9845-loyd_column_1.png);
    background-size: contain;
    border: 8px solid #EA7277;
    width: 80%;
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 20vh;
}

#background span{
    display: block;
    width: 70.5%;
    margin: 0 auto;
    opacity: .93;
    border: 3px solid #ED80B3;
    background-image: url(images/logoback.jpg);
}

#PC{
    position: relative;
    display: inline-block;
    width: 15%;
    top: 3px;
    margin-left: 30%;
}

#logotext{
    display: inline-block;
    width: 50%;
    background-color: dimgray;
    border: 4px solid #2FD17C;
    border-radius: 30px;
    margin-bottom: 15%;
}
/*END Background/Logo*/

/*CSS for the Navigation Bar*/
#navbar{
    display: block; /*For Centering*/
    color: #E465A5;
    width: 100%;
    height: auto;
    margin: 0 auto; /*Center*/
    
    background-color: whitesmoke;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}

#navbar li{
    display: inline;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 200%;
}
 width: 100%;
        font-size: 2vw;
        margin-bottom: 1vh;
/*Not needed since links are active yet#navbar a {
    text-decoration: none;
    color: inherit;
    font-weight: 800;
}*/

#navbar li:hover{ /*Change to a:hover when links are active*/
    background-color: #E465A5;
    color: #F6EA40;
}
/*END NAVBAR*/

#notsidebar{ /*Prevent merging with shopping-cart*/
    width: 71vw;
    box-sizing: border-box;
}

/*CSS for Shopping Cart*/
#Shopping-Cart{
    position: fixed;
    top: 0;
    right:0;
    width: 17vw;
    height: 100vh;
    background-image: url(images/gtex.jpg);
    color: snow;
    border: 8px solid #F782B9;
    padding: 5px 10px 5px 10px;
    z-index: 2;
    overflow: auto;
    box-sizing: border-box;
}

#name{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    font-size: 4vh;
}

#cartlogo{
    display: block;
    width: 70%;
    border: 5px solid #ed94bd;
    margin: 0 auto; /*Center Image*/
}

#itemsNumber{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10%;
}

.incart{
    width: 100%;
    height: 24vh;
}

.incart img{
    max-width: 100%;
    width: auto;
    max-height: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.incart label{
    display: inline-block;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.price{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #F782B9;
}

.removeFromCart{
    display: inline-block;
    text-align: center ;
    width: auto;
}

.removeBox{
    display: inline-block;
    float: right;
    margin-top: 3.2%;
}

#Total{
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    color: #F782B9;
}

#updateCart{
    display: block;
    width: 50%;
    margin: 0 auto;
    background-color: #45C2D5;
    text-align: center;
    font-size: 12px;
    color: snow;
    border-radius: 5px;
}

#coupon{
    display: block; 
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top:2%;
    margin-bottom: 2%;
}

#Checkout{
    display: block;
    margin: 0 auto;
    margin-top: 4%;
    width: 100%;
    background-color: #2AD97D;
    color: white;
    border-radius: 30px;
}

#Checkout:hover{
    background-color: springgreen;
}
/*END Shopping Cart*/

/*Storefront*/
#storefront{
    display: block;
    width: 83vw;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url(images/Modern_Gradient_pink.png);
    background-attachment: fixed;
    background-repeat: repeat-x;
    border-top: 20px solid #969699;
    border-bottom: 20px solid #969699;
}

.product{
    display: block;
    position: relative; /*For Children*/
    border: 3px solid #FD7A80;
    border-radius: 30px;
    display: inline-block;
    float: left;
    margin: .5%;
    margin-left: 3.5vw;
    height: 299px;
    width: 275px;
}

.product img{
    display: block;
    position: relative;
    max-width: 275px;
    width: auto;
    max-height: 200px;
    height: auto;
    margin: 0 auto; /*Center image*/
}

.product span{
   position: absolute;
    color: #F9787D;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    font-family: "Helvetica", monospace;
    display: inline-block;
    width: 100%;
    bottom: 36px;
}

.product button{
    display: inline;
    margin: 0 auto;
    width: 200px;
    height: 25px;
    background-color: #F9787D;
    color: white;
    /*Center button to bottom of div*/
    position: absolute;
    bottom: 5px;
    text-align: center;
    left: 30px;
}

.product label {
    position: absolute;
    bottom: 60px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.product input{
    position: absolute;
    display: inline;
    width: 20px;
    bottom: 5px;
    right: 20px;
    border-radius: 5px;
    height: 18px;
    text-align: center;
}
/*End PRODUCTS Options*/

/*CSS for Portrait devices (ex: iPhone)*/

@media all and (orientation: portrait){
    /*Changes to Shopping Cart*/
    #Shopping-Cart{
        border: 3px solid #F782B9;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    #Shopping-Cart div{
        display: inline;
    }
    
    #name{
        font-size: 2.4vw;
    }
    
    #cartlogo{
        border: none;
        margin-bottom: -2vh;
        max-width: 80%;
        width: auto;
        max-height: 5vh;
        height: auto;
    }
    
    #itemsNumber{
        font-size: 2vw;
    }
    
    .incart img{
        max-width: 95%;
        width: auto;
    }
    
    .incart label{
        font-size: 2vw;
    }
    
    .removeFromCart{
        display: none;
    }
    
    .removeBox{
        display: none;
    }
    
    .price{
        margin-bottom: 1vh;
        font-size: 1.6vh;
    }
    
    #Total{
        font-size: 2.8vw;
        margin-bottom: 3vh;
    }
    
    #updateCart{
        width: 100%;
        font-size: 2vw;
        margin-bottom: 1vh;
    }
    
    #Checkout{
         width: 100%;
        font-size: 2.5vw;
        margin-bottom: 1vh;
    }
    /*END Shopping Cart*/
    
    #notsidebar{ /*Prevents merging with shopping cart*/
        width: 71vw;
    }
    
    /*Remove mobile incompatible background*/
    #background{
        display: none;
    }
    
    /*Change navbar option*/
    #navbar{
        height: auto;
        width: 60vw;
        border: none;
        margin: 0 auto;
        border-radius: 0;
    }
    
    #navbar li{
        display: block;
        font-size: 5.2vh;
        width: 100%;
        text-align: left;
        padding-bottom: .2vh;
        border: 1px solid lightgray;
        top: 0;  
    }
    
    #navbar li:hover{ /*Change to a:hover when links are active*/
    background-color: #E465A5;
    color: #F6EA40;
    }
    
    /*Storefront*/
    #storefront{
        top: 0;  /*Only needed for disbaled hack*/
        width: 90%;
        margin: 0 auto;
    }
    
    .product{
        position: relative;
        height: 140px;
        width: 129px;
        top: 0;
    }
    
    .product img {
        max-width: 95px;
        width: auto;
        max-height: 70px;
        height: auto;
        margin: 0 auto; /*Center image*/ 
    }
    
    .product span{
        font-size: 12px;
        bottom: 30px;
    }
    
    .product button{
        width: 80px;;
        font-size: 12px;
        left: 26.5px;
    }
    
    .product label{
        font-size: 8px;
        bottom: 44px;
        background-color: #F782B9;
        opacity: .87;
    }
    
    .product input {
        display: none;
    }
}
    