html, body{
    width: 98%;
    height: 98%;
    background-color: #0404A2;
    background-image: url("images/Blue_Ranger_Split.jpg");
    background-size:contain;
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body > p{
    color: #A2A204;
    width: 70%;
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    display: inline-block;
    font-family: fantasy;
}

#pw{
    position: relative;
    left: 4px;
}

#logbox{
    position: relative;
    font-size: 150%;
    font-family: "Helvetica";
    font-weight: 600;
    width: 60%;
    margin-left: 14%;
    margin-right: auto;
    color: #A204A2;
    display: block;
    height: 32%;
}

*#elementpos{
    position: absolute;
    bottom: 0;
}

#login{
    width: inherit;
    display: block;
    position: relative;
    top: 1em;
    text-align: center;
}

/*MEDIA QUERIES*/

/*Elements only displayed during relevant queries*/
/*Hidden by Default*/

#BlueMobile{
    display: none;
}

/*Small resolution, landscape devices [Blackberry]*/

@media all and (orientation: landscape) and (max-width: 400px){
    body > p {
        font-size: 18px;
    }
    
    #logbox{
        font-size: 12px;
        position: absolute;
        margin:auto;
        left: 0;
    }
    
    #elementpos{
        top: 1%;
    }
    
    #pw{
        left: 0.5%
    }
}

/*Generic Portrait Mode CSS*/

@media all and (orientation: portrait){
    html, body{
        background-image: none;
    }
    
    body > p {
        top:0;
        display: inline;
        font-size: 25px;
        font-weight: 400;
        position: relative;
        top: 12%;
     }
    
    #logbox{
        position: absolute;
        margin:auto;
        width: 100%;
        left: 0;
        top: 50%;
    }
    
    #login{
        font-size: 20px;
        text-align: center;
        text-transform:uppercase;
        text-decoration: underline;
    }
    
    #BlueMobile{
        display: block;
        position: relative;
        top: 0;
        width: 38%;
        height: 38%;
        float:left;
    }
}

/*Small screen portrait devices [Mortorola RazR]*/

@media all and (orientation: portrait) and (max-width: 239px){
    html, body{
        background-image:url("images/blur_razR.jpg");
        background-size: contain;
        background-size: 40%;
        background-position: top left;
    }
    
    #BlueMobile{
        display: none;
    }
    
    body > p {
        position: absolute;
        top: 6%;
        right:0;
        font-size: 10px;
        width: 60%;
    }
    
    #logbox{
        position: absolute;
        top: 60%;
        left:0;
        width: 100%;
        font-size: 10px;
    }
    
    #login{
        font-size: 11px;
    }
    
    #pw{
        left: 0.5%;
    }
    
    
}