html,
body {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    font-size: 16px;
    font-family: "Source Sans Pro", "Helvetica", sans-serif;
    line-height: 1.4;
}

/*Full Page Container for Desktop
Navigator on left
Current Page content on right*/
.portfolio-flexbox-container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

/*Container for the cell phone styled navigator*/
.navigator-home-flex-container {
    display: flex;
    position: absolute;
    width: 22%;
    height: 80%;
    border: .4rem solid #F6D2DF;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-radius: 1.8rem;
    border-bottom-left-radius: 0;
    opacity: 0;
    left: 0;
    font-size: 0;
}

/*Span container for navigator. 
Includes icons plus accompanied text*/
.nav-home-icon-display {
    flex: 1 1 50%;
    text-align: center;
    max-width: 50%;
    color: #EE98B4;
}

/*Icons for the navigator*/
.nav-icon {
    display: block;
    margin: 0;
    text-align: center;
    font-size: 5vmin;
}

/*Navigator Home span options different from nav-icon-display class*/
.icon-home {
    align-self: flex-end;
    padding-bottom: 5%;
}

.nav-icon-name{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
}

/* Right side of the page displays content*/
.content-div-home {
    position: absolute;
    left: 23%;
    display: flex;
    opacity: 0;
    flex-flow: row wrap;
    height: 70%;
    width: 70%;
    margin-left: 1.5625%;
    border: .211rem ridge #bbb7d6;
    padding: 1.5625%;
}
/*Text: Nathan J Plummer"*/
.myName {
    width: 100%;;
    font-family: "variane", cursive;
    font-size:  10vmin;
    font-weight: 200;
    color: #bbb7d6;
}

/*Text: J Plummer*/
.lastname {
    padding-left: 5.2%;
}

/*Personal Image*/
.nerdAngel {
    position: relative;
    bottom: 6%;
    max-width: 30%;
    max-height: 35%;
    border-radius: 50%;
    border: 5px solid rgba(143,139,163, 0.4);
    margin: 0;
    align-self: center;
}

/*Describe Myself*/
.myDescription {
    width: 70%;
    margin-left: 2%;
    line-height: 120%;
    color: rgb(143,139,163);
    font-size: 2vh;
}

.myDescription br {
    line-height: 150%;
}

.myDescription a{
    text-decoration: none;
    color: #EB6797;
    padding: 0;
}

.myDescription a:hover {
    color: #bbb7d6;
}

/*Quote at the bottom of the page*/
.quote {
    position: absolute;
    bottom: 1%;
    left: 35%;
    font-size: .825rem;
    color: #bbb7d6;
    max-width: 55%;
}