.accordian-container {
    margin: 0;
    box-sizing: border-box;
    width: 500px;
    max-width: 100%;
    font: 'Roboto', sans-serif;
    background-color: rgb(198, 33, 33);
    color: #faf6f6;
    overflow-y: hidden;
    
}

h1 {
    margin: 0;
}

.accordian-container div {
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: -1.1em;
}

input{
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

input ~* {
    display: none;
}

input:checked ~*{
    display: block;
}

.label-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 1.5em;
    width: 1em;
}

.general-accord-1st {
    background-color: dodgerblue;
}

.general-accord-2nd {
    background-color: #ffa3d1;
}

.general-accord-3rd {
    background-color: #42a742;
}