body {
    background: #766095;
}

/*Hidden items that don't show up until the text is parse*/

.hidden {
    display: none;
}

h1 {
    color: #c49fb6;
    padding-left: 1.5%;
    margin-bottom: 0;
}

/*Describe site purpose to user*/
.describe_site {
    color: #c49fb6;
    margin-top: 0.2%;
    padding-left: 3%;
}

/*Area User interacts with via typing or upload*/

#userInputArea {
    display: flex;
    height: 45vh;
    justify-content: space-around;
    width: 100vw;
}

/*For User Typing*/

textarea {
    background-color: #DBD7CF;
    border-radius: 5px;
    border: 3px solid #CDB18C;
    color: rgba(0, 0, 0, 0.6);
    height: 90%;
    padding-bottom: 0;
    padding: 0.8%;
    width: 50%;
}

/*After hiding input type=file style label is styled as a button
Label is then used as subtitue input=file*/

#userFiles {
    align-self: center;
    background-color: #ADA2A9;
    background-color: #dcdcdc;
    border-radius: 0.6rem;
    border: 3px solid #666;
    color: #000;
    height: 30px;
    padding-top: 12px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

#userFiles:hover {
    background-color: #9A8895;
}

/*User hits that button to get results*/

.parseButton_results {
    background-color: hsla(319, 14%, 42%, 0.81);
    color: #EBEDEC;
    display: block;
    font-size: 1rem;
    margin-bottom: 1%;
    margin-top: 0.5%;
    margin: 0 auto;
    text-align: center;
}

/*displays user results.  Wrap around area*/

#results {
    background-color: #CDB18C;
    border-radius: 5px;
    border: 3px solid #DBD7CF;
    display: block;
    height: 25vh;
    margin: 0 auto;
    margin-top: 1%;
    padding-left: 1.5%;
    width: 60vw;
}

/*Paragraphs that are hidden until user SUBMITs Text/ Get Results*/

.hideB4Submit {
    display: none;
}
