html, body{
    height: 98%;
}

body {
    background-image: url("images/Pink.jpg");
    background-size: cover;
    background-position: center;
}

/*Image links for HOME PAGE and FORM HOME PAGE*/
#gohome{
    width: 6%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
}

#goform{
    width: 6%;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.7;

}
/*END LINKS*/

#logo {
    width: 40%;
    position: absolute;
    top: 9%;
    left: 25%;
}

/*List Box*/

body > p {
    position: relative;
    top: 40.5%;
    left: 39%;
    color: white;
    font-family: fantasy;
    display: block;
}

#series{
    position: relative;
    left: 39.5%;
    top: 39%;
    line-height: 0;
    text-align: center;
    color: #F2E16D;
    font-family: fantasy;
    resize: both;
    background-color: black;
    display: block;
}

/*Options for search box*/

#search{
    position:relative;
    top: 43.5%;
    left: 26%;
    font-family: fantasy;
    color: white;
    display: block;
}

#search input{
    background-color: black;
}


/*Slight Adjustments for Higher Resolution Display devices*/
@media all and (min-width: 1920px){
    #search{
        left: 29.5%;
        top: 47%;
    }
}

/*Additonal CSS for iPhones and Mobile devices*/
@media all and (orientation: portrait){
    body{
        background-image: url("images/Pink_mobile.jpg");
        background-size: cover;
        background-position: top;
    }
    
    #logo{
        position: absolute;
        top: 35%;
        width: 70%;
        left: 12%;
        display: block;
    }
    
    body > p {
        position: absolute;
        top:0;
        width: 100%;
        left: 20%;
    }
    
    #series{
        top: 50%; 
        left: 20%;
    }
    
    #search {
        width:100%;
        top:55%;
        bottom: 15%;
        left: 20%;
    }
}

/*Super low res devices and portrait mode*/
@media all and (orientation: portrait) and (max-width: 240px){
    #logo{
        width:50%;
        left: 20%;
    }
    body > p {
        height: 18px;
        left: 2px;
        top: -5%;
    }
    
    #series{
        left:0;
    }
    
    #search{
        bottom:0;
        left:0;
    }
}

/*Larger Cell Phones*/
@media all and (orientation: portrait) and (min-width: 360px) and (max-width: 414px){
    
    #series{
        left:0;
    }
    
    #search{
        left:0;
    }
    
}

/*Blackberry*/
@media all and (orientation: landscape) and (width: 320px) and (height: 240px){
    
    body > p{
        left:0;
    }
    
    #series{
        left:0;
    }
    
    #search{
        left:0;
    }
    
}