h2 {
    font-size: 1.5rem;;
}

.seperate-horizontal-4px {
    height: 4px;
}

.button.is-primary {
    background-color:  #4B9CD3;
}

.navbar-menu {
    background-color: #767676;
}

.nav-logo {
    background-color: #E1E1E1;
    max-height: 100%;
}

.navbar-item-first {
    color: white;
}

/*Uses a different color scheme for mobile menu as they default
scheme makes text hard to read*/
@media all and (orientation:portrait) {
    .navbar-menu {
        background-color: #E1E1E1;
    }

    .navbar-item-first {
        color:  #4B9CD3;
        font-weight: 600;
    }

   .navbar-item {
       font-weight: 500;
   }
}
/*End mobile color scheme*/

.navbar-contententseperator {
    height: 40px;
    max-height: 15%;
}

.home-heading {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.home-heading img {
    margin-top: 5px;
    width: 340px;
    max-width: 90%;
    border-radius: 5px;
}

.home-heading-location-fontsize {
    font-size: 0.95rem;
}

.home-heading object {
    width: 60px;
    pointer-events: none;
    margin-top: 10px;
    margin-bottom: 0;
}

.home-heading .CVtext {
    position: relative;
    bottom: 4px;
}

@media all and (min-width: 321px) {
    .home-heading span {
        margin-bottom: 2px;
    }
}

/*Research Group Code*/
.image-line {
    display: flex;
    width: 100%;
    justify-content:space-around;
    flex-flow: row wrap;
}

.rg-image-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 335px;
    max-width: 90%;
    margin-top: 1%;
}

/*Hack: specific settings for iPad non-pro.  Won;t work on other
tablets but that's okay.  This will fail gracefully.  I.E. this only
makes things slightly prettier*/
@media only screen and (width:768px) and (height: 1024px) {
    .rg-image-container {
        width: 222px;
    }
}

.rg-image-container img {
    max-width: 100%;
    max-height: 220px;
    object-fit: contain;
}


.research-page {
    display: block;
    padding: 0 8% 0 8%;
}

.research-group a {
    color:black;
}

.research-page h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
}

.research-page .students {
    margin-bottom: 3%;
    font-weight: 500;
}

.research-page .research-image-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 5% 0 5% 0;
    align-items: center;
    align-content: center;
    width: 100%;
}

.research-page .research-image-block figure{
    max-width: 300px;
    width: 100%;
    margin-top: 5px;
}

.research-page figcaption {
    position: relative;
    bottom: 6px;
    font-weight: 500;
    font-size: 0.85rem;
    text-align: center;
    max-width: 95%;
}

.research-page ol {
    width: 88.33%;
    margin: 0 auto;
    font-weight: 500;
    text-align: left;
}

.research-page ol li {
    margin-bottom: 8px;
}

.active-research {
    padding: 0 5% 0 5%;
    text-align: center;
}

.active-research .research {
    display: block;

}

.active-research .ar-title{
    font-size: 1.4rem;
}


.active-research span {
    display: block;
}

.active-research .no-decoration {
    text-decoration: none;
    color: black;
}

.active-research img {
    width: 150px;
    border-radius: 5px;
    margin-top: 1%;
}

.active-research .ar-seperator {
    display: block;
    height: 2px;
    margin: 12px 0 12px 0;
    border-radius: 2px;
    background-color: lightgray;
}
