* {
    box-sizing: border-box;
}

html, body{
    font-family: 'PowerFont';
    background-color: black;
}

.header {
    display: block;
    text-align: left;
    height: 20vh;
    background-color: black;
}

/*.q2, .q3, .q4, .q5, .q6{
  visibility: hidden;
}*/
.header h1 {
    display: block;
    font-size: 2.75rem;
    max-height: 40%;
    height: auto;
    margin: 0;
    color: #E9CC5F;
}

.header span {
    display: block;
    height: 60%;
}

.header img {
    height: 100%;
}

.capsule {
    position: fixed;
    display: block;
    height: 80vh;
    width: 100vw;
    font-size: 2rem;
    text-align: left;
    border: 5px double #E9CC5F;
}

.q2,.q3,.q4,.q5,.q6 {
    visibility: hidden;
    opacity: 0;
    visibility 0s, opacity 0.5s linear;
    -webkit-transition: 3s linear;
    -moz-transition: 3s linear;
    -o-transition: 3s linear;
    -ms-transition: 3s linear;
    transition: 3s linear;
}

.q1 {
    background-color: #9B050B;
    color: #059B95;
}

/*.q1,.q2,.q6 input {
    width: 80%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #E9CC5F;
    height: 20%;
}*/

.q1 input[type="text"], .q2 input[type="number"],.q6 input[type="text"]{
    display: block;
    width: 80%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #E9CC5F;
    height: 20%;  
}

.q2{
    background-color: #013C92;
    color: #925701;
}

.q3{
    background-color: #DABA33;
    color: #3353DA;
}

.q3 img {
    max-height: 35%;
    height: auto;
    display: inline;
}

.q3 input {
    display: inline;
}

.q4 {
    background-color: #E169B4;
    color: #69E196;
}

.q4 input[type="color"]{
    width: 80%;
    height: 80%;
}

.q4 img {
    width: 20%;
    position: absolute;
    top: 12%;
    right: 50%;
}

.q5 {
    background-color: white;
    color: black;
}

.q5 textarea {
    display: block;
    margin: 0 auto;
    width: 75%;
    resize: none;
    border: 5px double #E9CC5F;
}

.q6 {
    background-color: #23937D;
    color: #932339;
}


.next-question{
    position: absolute;
    bottom: 10%;
    right: 2%;
    width: 5%;
    height: 16%;
}

.next-question:active{
    position: absolute;
    bottom: 9%;
    right: 2%;
}

.next-question:hover{
    width: 6%;
    height: 18%;
}