html, body{
    height: 100vh;
    width: 100vw;
    background-image: url(images/Texture.png);
    background-attachment: fixed;
    background-repeat: repeat-y;
}

/*CSS for Profile Bar*/
#profile-bar{
    position: absolute;
    top: 0;
    right:0;
    width:30vh;
    min-height: 95vh;
    max-height: 300vh;/*Allow overflow without scrollbar*/
    height: auto;
    /*Weird GitHub Error not allowing relative linking for below image.*/
    background-image: url(images/DarkMetal.jpg)
    color: #ed94bd;
    border: 8px solid #ed94bd;
    font-kerning: auto;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    overflow: visible;
}

#Kim{
    display: block;
    width: 90%;
    border: 5px solid #ed94bd;
    margin: 0 auto; /*Center Image*/
}

#name{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    font-size: 8vh;
}

#profile-bar p {
    margin-left: 5%;
    margin-right: 2%;
    font-family: monospace;
}
/*END Profile Bar*/

/*CSS for the Navigation Bar*/
#navbar{
    display: block; /*For Centering*/
    color: #E465A5;
    max-width: 900px;
    width: auto;
    height: 50px;
    margin: 0 auto; /*Center*/
    margin-top: -7px; /*Hug top of page*/
    background-color: whitesmoke;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}

#navbar li{
    display: inline;
    font-family: 'Josefin Sans', sans-serif;
    margin-right: .5vh;
    margin-left: .5vh;
    font-size: 4.0vh;
}

#navbar a {
    text-decoration: none;
    color: inherit;
    font-weight: 800;
}

#navbar a:hover{
    background-color: #E465A5;
    color: #F6EA40;
}
/*END NAVBAR*/

#notsidebar{ /*Prevent merging with sidebar*/
    width: 69vw;
}

/*Options for the background mage*/
#background{
    display: block;
    width: inherit;
    margin: 0 auto;
}

#background img{
    display: block;
    position: relative;
    width: 85%;
    margin: 0 auto;
    top: 80px;
    border: 8px solid #c5d5cb;
}

#background span{
    position: relative;
    display: block;
    width: 85%;
    bottom: 23vh;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    background-color: rgba(0, 0, 0, 0.5);
}

/*Fix slight display error at 480p*/

@media all and (orientation: landscape) and (max-width: 640px) {
    #navbar li{
    margin-right: .2vh;
    margin-left: .2vh;
    }
}
