html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: -webkit-linear-gradient(314deg, rgb(169, 0, 3) 0%, rgb(235, 0, 0) 16%, rgb(115, 0, 0) 36%, rgb(46, 0, 2) 51%, rgb(189, 1, 2) 71%, rgb(233, 0, 0) 84%, rgb(129, 0, 0) 100%);
    background: -o-linear-gradient(314deg, rgb(169, 0, 3) 0%, rgb(235, 0, 0) 16%, rgb(115, 0, 0) 36%, rgb(46, 0, 2) 51%, rgb(189, 1, 2) 71%, rgb(233, 0, 0) 84%, rgb(129, 0, 0) 100%);
    background: -ms-linear-gradient(314deg, rgb(169, 0, 3) 0%, rgb(235, 0, 0) 16%, rgb(115, 0, 0) 36%, rgb(46, 0, 2) 51%, rgb(189, 1, 2) 71%, rgb(233, 0, 0) 84%, rgb(129, 0, 0) 100%);
    background: -moz-linear-gradient(314deg, rgb(169, 0, 3) 0%, rgb(235, 0, 0) 16%, rgb(115, 0, 0) 36%, rgb(46, 0, 2) 51%, rgb(189, 1, 2) 71%, rgb(233, 0, 0) 84%, rgb(129, 0, 0) 100%);
    background: linear-gradient(136deg, rgb(169, 0, 3) 0%, rgb(235, 0, 0) 16%, rgb(115, 0, 0) 36%, rgb(46, 0, 2) 51%, rgb(189, 1, 2) 71%, rgb(233, 0, 0) 84%, rgb(129, 0, 0) 100%);
}

img {
    width: 10%;
    position: absolute;
    left: 50%;
    top: 30%;
}

button {
    width: 10vw;
    border-radius: 20px;
    background-color: black;
    color: white;
}

select {
    width: 15vw;
    border-radius: 30px;
    background-color: dimgray;
    color: white;
    font-weight: 800;
    border: 2px ridge white;
}
