html, body{
    background-image: url("images/blacktrim.png");
    background-position: right center;
    background-size: 30%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #000000;
    color: white;
}

/*Enable image lnks for HOME PAGE and FORM HOME PAGE*/

#gohome{
    width: 6%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
}

#goform{
    width: 6%;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.7;

}

h3{
    margin: 0 auto;
    width: 50vw;
    display:block;
    background-color: #FAB148;
    text-align: center;
    border-radius: 3px;
}

.num3{
    width: 35px;
}

#num4{
    width: 55px;
}

label{
    font-family: "Helvetica", monospace;
    background-color: #F8B9F3;
    font-weight: 900;
    border: 7px solid #F8B9F3;
    border-radius: 20px;
    width:55%;
    display: block;
    line-height: 0.5;
    margin: 0 auto;
    margin-bottom: .8vh;
    margin-top: .8vh;
}

form{
    width: 65%;
    text-align: center;
    position: relative;
    top: 8rem;
}

input[type=text]{
    border: 7px solid purple;
    border-radius: 15px;
    background-color: black;
    color: white;
}

a{
    color:aliceblue;
}

#submit {
    display: block;
    margin: 0 auto;
    margin-top: 2vh;
    width: 30%;
    height: 5vh;
    text-align: center;
    border-radius: 10px;
    background-color: #486CFA;
    color: white;
    font-weight: 600;
}